.coins-list {
  width: 100%;
  position: relative;
  padding: 10px 15px;
  background-color: $color-white;
  border-radius: 0 0 5px 5px;
}

.coins-list__form {
  width: 100%;

  input {
    width: 100%;
    padding: 10px 15px;
    outline: none;
    border: solid 1px $color-silver;
  }
}

.coins-list__filter {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  background-color: $color-white;
  border: solid 1px $color-silver;
  border-radius: 0 0 5px 5px;
  transform: translateY(calc(100% - 38px));
  max-height: 0;
  overflow: hidden;
  overflow-y: scroll;
  border-top: none;
  opacity: 0;
  @include transition(max-height, opacity);

  &--active {
    max-height: 300px;
    opacity: 1;
  }
}

.coins-list__filter-item {
  padding: 10px 15px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  @include transition(background-color);
  cursor: pointer;

  &:hover {
    background-color: $color-silver;
  }
}

.coins-list-current {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 0 15px;
}

.coins-condition {
  display: inline-grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  color: $color-green;

  &--red {
    color: $color-red;

    .coins-condition__figure {
      border-color: transparent transparent $color-red transparent;
    }
  }
}

.coins-condition__figure {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 15px 7.5px;
  border-color: transparent transparent $color-green transparent;
}